<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        

        <title>Print</title>            
        <style type="text/css" media="print">
            @page { 
                size: auto;  
                margin: 0; 
                margin-top: 5; 
                font-size: 10px;
            }
            @media print  { .noprint  { display: none; } }
        </style>
        <style rel="stylesheet" type="text/css">
            body {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
            }

            [v-cloak] {
                display: none;
            }

        </style>
    </head>
    <!--<body onload="window.print()"> -->
    <body>
        <div id="printapp">
            <div v-cloak style="margin-left:5px; width:270px; background-color: rgba(196, 116, 116, 0.842);">
                <div class="card" v-for="p in penztar">                                                            
                    <div style="width: 100%; text-align: center;">Sulyán és Fiai Kft.</div>
                    <div style="width: 100%; text-align: center;">Veresegyház</div>
                    <div style="width: 100%; text-align: center;">Kálvin út 16</div>
                    <div style="width: 100%; text-align: center;">Tel.: 28/385-377</div>
                    
                    <div v-show="showPartnerData" style="width: 100%;">
                        <i>------------------------------------------------------</i>
                        <font style="font-size:12px;"> <b> Kiszállítási adatok:</b></font><br>
                        <font style="font-size:12px;">{{ penztar[0].partnev }}</font><br>
                        <font style="font-size:12px;">{{ penztar[0].partcity }} {{ penztar[0].partaddress }}</font><br>
                        <font style="font-size:12px;">{{ penztar[0].parttel }}</font>
                    </div>
                    <i>------------------------------------------------------</i>


                    <table v-for="item in p.items" style="width: 100%" cellpadding="0" cellspacing="0">                        
                        <tr>
                            <td v-if="item.menny > 1" style="padding-left:15px;" colspan="2">{{item.menny}} db * &nbsp; &nbsp; &nbsp; &nbsp; {{item.price}} Ft /db</td>
                        </tr>
                        <tr>
                            <td style="width: 80%; font-size:12px;">{{ item.name_single | uppercase }} [{{ item.afamertek }}%]</td>
                            <td style="width: 20%; font-size:12px;" align="right">{{ item.ossz }}</td>
                        </tr>
                    </table>
                
                    <table v-if="isTortarendeles == 1" style="width: 100%" cellpadding="0" cellspacing="0">                        
                        <tr>
                            <td style="width: 80%; font-size:12px;">
                                {{ penztar[0].keszlet_name | uppercase }} ({{penztar[0].torta_neve }}) {{penztar[0].szeletszam}} szelet
                                &nbsp;{{ penztar[0].torta_tipus }} - {{ penztar[0].torta_kategoria }} 
                                &nbsp; <font v-if="penztar[0].kiegeszitok && penztar[0].kiegeszitok != 'null'">kiegészítőkkel</font>
                                <br>
                                <p v-for="r in p.reszek"> 
                                    - {{r.keszlet_name}} ({{r.torta_neve}}) {{r.szeletszam}} szelet &nbsp;{{ r.torta_tipus }} - {{ r.torta_kategoria }}</p>
                                
                            </td>
                            <td style="width: 20%; font-size:12px;" align="right">{{ p.vegosszeg_reszekkel }}</td>
                        </tr>
                    </table>

                    <i>------------------------------------------------------</i>      
                    <table  style="width: 100%" cellpadding="0" cellspacing="0">                        
                        <tr v-if="p.afabontas.afa_5 > 0">
                            <td style="width: 80%; font-size:12px;">Tartalmaz Áfa 5%</td>
                            <td style="width: 20%; font-size:12px;" align="right">{{p.afabontas.afa_5}}</td>
                        </tr>
                        <tr v-if="p.afabontas.afa_18 > 0">
                            <td style="width: 80%; font-size:12px;">Tartalmaz Áfa 18%</td>
                            <td style="width: 20%; font-size:12px;" align="right">{{p.afabontas.afa_18}}</td>
                        </tr>
                        <tr v-if="p.afabontas.afa_27 > 0">
                            <td style="width: 80%; font-size:12px;">Tartalmaz Áfa 27%</td>
                            <td style="width: 20%; font-size:12px;" align="right">{{p.afabontas.afa_27}}</td>
                        </tr>
                    </table>
                    <i>------------------------------------------------------</i>                    
                    <table style="width: 100%">                        
                        <tr>
                            <td style="width: 60%"><b><font style="font-size: 17px;"> ÖSSZESEN: </font></b></td>
                            <td style="width: 40%;" align="right">
                                <b>
                                    <font v-if="isTortarendeles == 0" style="font-size: 17px;">{{ p.szum }} Ft</font>
                                    <font v-if="isTortarendeles == 1" style="font-size: 17px;">{{ p.vegosszeg_reszekkel }} Ft</font>
                                </b>
                            </td>
                        </tr>
                    </table>                    
                    <i>------------------------------------------------------</i>

                    <div style="text-align: center; padding-bottom: 5px; padding-top: 2px;">Jó étvágyat kívánunk!</div>
                                        
                    <div style="text-align: center">{{ p.ido }}</div>
                    <div style="text-align: center"># {{ p.id }}</div>



                    <br>
                    <i v-if="frissensultek.length > 0">------------------------------------------------------</i>                    
                    <div class="card"  v-if="frissensultek.length > 0">
                        <div style="width: 100%; text-align: center; padding-top: 10px;"><b>KONYHA # {{ p.id }}</b></div>
                        <i>------------------------------------------------------</i>                    
                        <table v-for="item in frissensultek" style="width: 100%" cellpadding="0" cellspacing="0">                        
                            <tr>
                                <td style="padding-left:15px;" colspan="2">{{item.menny}} db</td>
                            </tr>
                            <tr>
                                <td style="width: 80%; font-size:12px;">{{ item.name | uppercase }} </td>
                            </tr>
                        </table>                        
                    </div>

                    <i v-if="frissensultek.length > 0">------------------------------------------------------</i>                    
                    
                    <div style="text-align: center">{{ p.ido }}</div>

                </div>
            </div>
            
        </div>

        <form>
            <!-- <input class="noprint" type="button" value="Print Page" onClick="window.print()"> -->
        </form>       
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>          
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>            

            function geturlparam (name) {
                var ret = "";
                var results = new RegExp("[\?&]" + name + "=([^&#]*)").exec(window.location.href);

                if(results) {
                    ret = results[1] || 0;
                }
                return ret;
            }

            var printapp = new Vue({
                el: '#printapp',
                data: {
                    id: 0,
                    ls_my_session: '', 
                    dataURLPenztarConst: 'https://www.mysystem.hu/RestService/penztar/view/',
                    dataURLPenztarTortarendelesConst: 'https://www.mysystem.hu/RestService/penztar_tortarendeles/view/',
                    penztar: [],
                    penztaritems: [],
                    showPartnerData: false,
                    partner: [],
                    frissensultek: [],
                    isTortarendeles: 0
                },
                mounted(){
                    var self = this;

                    self.id = geturlparam("id");
                    self.isTortarendeles = geturlparam("istortaorder");
                    self.ls_my_session = localStorage.getItem("my_session");

                    if(self.isTortarendeles == 1){
                        var lUrl = self.dataURLPenztarTortarendelesConst  + self.id + '/' + self.ls_my_session;
                    }else{
                        var lUrl = self.dataURLPenztarConst  + self.id + '/' + self.ls_my_session;
                    }

                    $.getJSON(lUrl, function (penztarData) {
                        self.penztar = JSON.parse(penztarData.data);    
                        console.log(JSON.stringify(self.penztar));                   

                        if(self.penztar[0].partner_id > 0 && self.penztar[0].partnev.length > 0){
                            self.showPartnerData = true;
                        }

                        if(self.penztar[0].items){
                            for(var i=0; i<self.penztar[0].items.length; i++){
                                if(self.penztar[0].items[i].frissensulte == "I"){
                                    self.frissensultek.push({id: self.penztar[0].items[i].id, name: self.penztar[0].items[i].name, menny: self.penztar[0].items[i].menny });
                                }       
                            }
                        }          

                        if(self.isTortarendeles == 1){
                            
                        }

                        setTimeout(function () {
                            window.print();
                        }, 1000);                        
                    });                    
                },
                filters: {
                    uppercase: function(v) {
                    return v.toUpperCase();
                    }
                }
            })
        </script>
        
        

    </body>
</html>