#main {
    min-height: 780px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}

#main > article {
    margin: 0px;
    padding: 0px;
    background: #036f96;
    flex: 3 1 60%;
    order: 1;
}

#main > nav {
    margin: 0px;
    padding: 5px;
    border: 0px solid #8888bb;                    
    background: #e7e7e5;
    flex: 1 6 20%;
    order: 2;
}

#main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;                    
    background: #ccccff;
    flex: 1 6 20%;
    order: 3;
}

header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 40px;
    border: 1px solid #eebb55;                
    background: #ffeebb;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    #main, #page {
        flex-direction: column;
    }

        #main > article, #main > nav, #main > aside {
            /* Return them to document order */
            order: 0;
        }

        #main > nav, #main > aside, header, footer {
            min-height: 50px;
            max-height: 50px;
        }
}